section {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background: linear-gradient(210deg, #71AADE, #094D8D 70%);
    /*  background: url("../img/bg.png") top left / 100vw 100vh no-repeat; */
    z-index: -1;
}

header {
    z-index: 2;
}

.dropdown {
    width: 250px;
    border: none;
    outline: none;
    background-color: #F0F0F0;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Modal */

#modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-radius: 15px;
    background-color: #FFF;
}

.modal-frame form {
    margin-top: 40px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-frame form input {
    margin-bottom: 20px;
    padding: 8px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #F0F0F0;
}

.modal-frame form textarea {
    margin-bottom: 20px;
    padding: 8px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #F0F0F0;
}

.modal-frame form .dropdown {
    margin-bottom: 20px;
    padding: 8px;
    height: 32px;
    width: 48%;
    border-radius: 10px;
}

.modal-frame > form > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-frame form div input {
    width: 48%;
}

.modal-frame form div input[type=checkbox] {
    width: 10%;
}

.modal-frame form div input[type=radio] {
    margin-right: 15px;
    margin-left: 5px;
}

.modal-frame form div > label {
    margin-left: 5px;
    margin-bottom: 20px;
    user-select: none;
    -webkit-user-select: none;
}

.modal-frame form > div > div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom:  20px;
}

.modal-frame form > div > div > input {
    margin-left: 10px;
    height: 20px;
    width: 20px;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.btn-dark {
    color: #F0F0F0;
    background-color: #434343;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}