
main {
    display: flex;
    padding: 50px;
    height: 95vh;
    align-items: center;
}

.left-content {
    position: relative;
    padding: 50px;
}

.left-content svg {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 400px;
}

.left-content img {
    display: block;
    margin-left: 50px;
    width: 300px;
}

.right-content {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.right-content > * {
    margin: 10px 0;
}

.right-content h1 {
    font-size: 50px;
}

.right-content h3 {
    font-size: 25px;
}

.right-content p {
    max-width: 800px;
    font-size: 20px;
    line-height: 2em;
}

.right-content .rating {
    color: #434343;
    font-size: 20px;
}