section {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

/* Top bar */
.search {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.search-left {
    display: flex;
    align-items: center;
}

.search-left > svg {
    height: 30px;
}

.search-right {
    display: flex;
    align-items: center;
}

.search-right > * {
    margin: 0 10px;
}

.search-right > i {
    font-size: 30px;
}

.dropdown {
    width: 250px;
    border: none;
    outline: none;
    background-color: #F0F0F0;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-right > i:hover {
    cursor: pointer;
}

/* Search Bar */
.search-bar {
    padding: 0 20px;
    background: #F0F0F0;
    border-radius: 12px;
    margin-right: 10px;
}

.search-bar form {
    color: #434343;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar form input {
    font-size: 16px;
    width: 100%;
    border: none;
    color: #434343;
    background-color: #F0F0F0;
}

.search-bar .site {
    display: none;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}

.search-icon:hover {
    cursor: pointer;
}

.fa-search {
    font-size: 20px;
}

.search-bar form input:focus {
    outline: none;
}

.search-bar button {
    border: none;
    background: transparent;
    width: 40px;
    font-size: 30px;
    color: #434343;
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-radius: 15px;
    background-color: #FFF;
}

.modal-frame form {
    margin-top: 40px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-frame form input {
    margin-bottom: 20px;
    padding: 8px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #F0F0F0;
}

.modal-frame form textarea {
    padding: 8px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #F0F0F0;
}

.modal-frame form div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modal-frame form div input {
    width: 48%;
}

.modal-frame form div input[type=checkbox] {
    width: 10%;
}

.modal-frame form div label {
    margin-left: 5px;
    user-select: none;
    -webkit-user-select: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

/* Main Content of Site */
.content {
    display: flex;
    margin-top: 50px;
}

.filters {
    width: 600px;
}

.filter-group{
    border-top: #000 solid 1px;
    margin: 20px 0;
    padding: 10px 0;
}

.filter-group > * {
    margin-top: 12px;
}

.book-display {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.books {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    max-width: 1300px;
}

.hidden {
    display: none;
}

.site-changer {
    width: 300px;
    display: flex;
    align-items: center;
    margin: 30px auto 0;
}

.site-changer > * {
    color: #000;
    margin: 0 20px;
}