section {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

/* Top bar */
.search {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.search-left {
    display: flex;
    align-items: center;
}

.search-right {
    display: flex;
    align-items: center;
}

.search-right > * {
    margin: 0 10px;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    background-color: #F0F0F0;
    padding: 10px;
}

/* Search Bar */
.search-bar {
    padding: 0 20px;
    background: #F0F0F0;
    border-radius: 12px;
    margin-right: 10px;
}

.search-bar form {
    color: #434343;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar form input {
    font-size: 16px;
    width: 100%;
    border: none;
    color: #434343;
    background-color: #F0F0F0;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}

.fa-search {
    font-size: 20px;
}

.search-bar form input:focus {
    outline: none;
}

.search-bar button {
    border: none;
    background: transparent;
    width: 40px;
    font-size: 30px;
    color: #434343;
}


/* Main Content of Site */
.content {
    display: flex;
    margin-top: 50px;
}

.filters {
    width: 800px;
}

.filter-group{
    border-top: #000 solid 1px;
    margin: 20px 0;
    padding: 10px 0;
}

.filter-group > * {
    margin-top: 12px;
}

.book-display {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.books {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}


.site-changer {
    width: 240px;
    display: flex;
    align-items: center;
    margin: 30px auto 0;
}

.site-changer > * {
    color: #000;
    margin: 0 auto;
}