@import url('https://fonts.googleapis.com/css2?family=Headland+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Headland One, serif;
}

button:hover {
    cursor: pointer;
}